<aside id="layout-menu" class="layout-menu-horizontal menu-horizontal  menu bg-menu-theme flex-grow-0">
    <div class="container-xxl d-flex h-100">

        <ul class="menu-inner pb-2 pb-xl-0">

            <!-- Sách -->
            <li class="menu-item">
                <a href="#" class="menu-link menu-toggle">
                    <i class='menu-icon tf-icons ti ti-layout-grid-add'></i>
                    <div>Sách</div>
                </a>
                <ul class="menu-sub">
                    <li class="menu-item">
                        <a href="app-email.html" class="menu-link">
                            <div>Giáo dục - Văn hóa & Xã hội</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="menu-link">
                            <div>Tâm linh - Tôn giáo</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="menu-link">
                            <div>Sách thiếu nhi</div>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- Sách -->
            <li class="menu-item">
                <a href="#" class="menu-link menu-toggle">
                    <i class='menu-icon tf-icons ti ti-layout-grid-add'></i>
                    <div>Sách Nói</div>
                </a>
                <ul class="menu-sub">
                    <li class="menu-item">
                        <a href="app-email.html" class="menu-link">
                            <div>Giáo dục - Văn hóa & Xã hội</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="menu-link">
                            <div>Tâm linh - Tôn giáo</div>
                        </a>                        
                    </li> 
                    <li class="menu-item">
                        <a href="#" class="menu-link">
                            <div>Sách thiếu nhi</div>
                        </a>                        
                    </li>
                </ul>
            </li>
            <!-- Truyện -->
            <li class="menu-item">
                <a href="#" class="menu-link menu-toggle">
                    <i class='menu-icon tf-icons ti ti-layout-grid-add'></i>
                    <div>Truyện</div>
                </a>
                <ul class="menu-sub">
                    <li class="menu-item">
                        <a href="app-email.html" class="menu-link">
                            <div>Giáo dục - Văn hóa & Xã hội</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="menu-link">
                            <div>Tâm linh - Tôn giáo</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="menu-link">
                            <div>Sách thiếu nhi</div>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- Truyện -->
            <li class="menu-item">
                <a href="#" class="menu-link menu-toggle">
                    <i class='menu-icon tf-icons ti ti-layout-grid-add'></i>
                    <div>Truyện VIP</div>
                </a>
                <ul class="menu-sub">
                    <li class="menu-item">
                        <a href="app-email.html" class="menu-link">
                            <div>Giáo dục - Văn hóa & Xã hội</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="menu-link">
                            <div>Tâm linh - Tôn giáo</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="menu-link">
                            <div>Sách thiếu nhi</div>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

    </div>
</aside>